<ion-view title="About Me" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="aboutMe-card21">
      <div class=" item item-image">
        <img src="img/15337656_10211160996565932_7198220379719305177_n.jpgoh5338186b3b1d554cfa200bf89e758384oe593EE3A4" style="display:block;width:100%;height:auto;">
      </div>
      <div class="item item-body" id="aboutMe-list-item-container2">
        <div id="aboutMe-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Myself
            <strong>Shivang</strong>
          </p>

          <p style="color:#000000;">Junior Under-Grad from
            <strong>IIT-Kanpur</strong>
          </p>

          <p style="color:#000000;">Passinate about
            <strong>software development</strong>
          </p>
        </div>
      </div>
      <div id="aboutMe-button-bar3" class="button-bar">
        <a href-inappbrowser="http://home.iitk.ac.in/~kshivang" id="aboutMe-button13" class="button button-light  button-block icon ion-android-globe"></a>
        <a href-inappbrowser="https://www.github.com/kshivang" id="aboutMe-button14" class="button button-light  button-block icon ion-social-github"></a>
        <a href-inappbrowser="https://www.facebook.com/km.shivang" id="aboutMe-button15" class="button button-light  button-block icon ion-social-facebook"></a>
        <a href-inappbrowser="http://www.linkedin.com/in/kshivang" id="aboutMe-button16" class="button button-light  button-block icon ion-social-linkedin"></a>
      </div>
    </div>
  </ion-content>
</ion-view>