<ion-view title="Contact" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="contact-card22">
      <ion-item class="item-icon-left dark" id="contact-list-item16" href-inappbrowser="http://home.iitk.ac.in/~kshivang">
        <i class="icon ion-android-globe"></i>home.iitk.ac.in/~kshivang</ion-item>
      <ion-item class="item-icon-left dark" id="contact-list-item12" href="mailto:kshivang@iitk.ac.in">
        <i class="icon ion-email"></i>kshivang@iitk.ac.in</ion-item>
      <ion-item class="item-icon-left dark" id="contact-list-item14" href="mailto:shivang.iitk@gmail.com">
        <i class="icon ion-email"></i>shivang.iitk@gmail.com</ion-item>
      <ion-item class="item-icon-left dark" id="contact-list-item15" href="tel:+917755057944">
        <i class="icon ion-ios-telephone"></i>+91-7755057944</ion-item>
      <ion-item class="item-icon-left dark" id="contact-list-item17" href="tel:">
        <i class="icon ion-ios-home"></i>F-167/2, IIT-Kanpur</ion-item>
    </div>
  </ion-content>
</ion-view>